
.ul-list {
  list-style: none;
}
.ul-list > li {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  border-style: solid;
  border-width: 1px;
}

.App {
  display: flex;
}

.ul-body {
  list-style: none;
}
.details{
  background-color: yellow;
  justify-content:center;
  padding: 10px;
  border-color: green;
  border-style: solid;
  border-width: 5px;
  flex: 1;

}

.postlist {
  background-color: lightblue;
  justify-content:center;

  border-color: green;
  border-style: solid;
  border-width: 5px;
  flex: 1;
  padding: 10px;
}